<header>
<div class="wrapper">
    <div class="Titol">
        Compra verdura ecol·lògica
    </div>
    <hr style="border-color:white;">
    <nav>
      <%if admin_signed_in? %>
        <%= link_to 'Eliminar, modificar o afegir un producte', '/products/'%>
        <%= link_to 'Eliminar, modificar o afegir una categoria', '/categories/'%>
        <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
      <%else%>
        <%if client_signed_in? %>
          <%= link_to 'Veure perfil', '/clients'%>
          <%= link_to 'Modificar perfil',edit_client_path(@client)%>
          <%= link_to 'Historial de comandas', '/products/'%>
          <%= link_to "Sign out", destroy_client_session_path, :method => :delete %>
        <%else%>
          <a href="/clients/new">Registrar-se</a>
          <%= link_to 'Iniciar sessió', '/clients/sign_in'%>
        <%end%>
      <%end %>
    </nav>
</div>
</header>