<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <!-- <a href="#"><img src="/assets/logo.png" alt=""></a> -->
    <%= link_to('/products') do %>
      <img src="/assets/language.png" alt="">
    <% end %>

  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
      <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
    </ul>
    <div class="header__cart__price">item: </div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <img src="/assets/language.png" alt="">
    </div>
    <div class="header__top__right__auth">
      <a href="/clients/sign_in"><i class="fa fa-user"></i> <%=t :login %></a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <%if admin_signed_in? %>
        <li><a href="/products">Eliminar, modificar o afegir productes</a></li>
        <li><a href="/categories">Eliminar, modificar o afegir categories</a></li>
        <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li>
      <%else%>
        <%if client_signed_in? %>
          <li><%= link_to 'Veure perfil', '/clients'%></li>
          <li><%= link_to 'Modificar perfil',edit_client_path(@client)%></li>
          <li><%= link_to 'Historial de comandas', '/products/'%></li>
          <li><%= link_to "Sign out", destroy_client_session_path, :method => :delete %></li>
        <%else%>
          <li><a href="/clients/new">Registrar-se</a></li>
        <%end%>
      <%end %>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
      <li>Free Shipping for all Order of $99</li>
    </ul>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <%if client_signed_in? %>
                <li><i class="fa fa-user"></i><%=t("welcome") %> <%=  @client.name %></li>
              <% end %>
              <li><%=t :comprans %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
              <%if client_signed_in? %>
                <%if @client.preference=="es" %>
                  <div class="header__top__right__language">
                    <img src="/assets/spain.png" alt="">
                  </div>
                <%else %>
                  <div class="header__top__right__language">
                    <img src="/assets/cat.png" alt="">
                  </div>
                <%end %>
              <%else %>
                <div class="header__top__right__language">
                  <img src="/assets/spain.png" alt="">
                </div>
              <%end %>
            <div class="header__top__right__auth" data-turbolinks="false">
              <%if admin_signed_in? %>
                <%= link_to t("logout"), destroy_admin_session_path, :method => :delete %>
              <%else %>
                <%if client_signed_in? %>
                  <%= link_to t("logout"), destroy_client_session_path, :method => :delete %>
                <%else %>
                  <a href="/clients/sign_in"><i class="fa fa-user"></i> <%=t :login %></a>
                <%end %>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo" data-turbolinks="false">
          <a href="/"><img src="/assets/logo.png" alt="" data-turbolinks="false"></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active" data-turbolinks="false"><a href="/"><%= t :Home%></a></li>
            <%if admin_signed_in? %>
              <li data-turbolinks="false"><a href="/products"><%= t :mod_prod%></a></li>
              <li data-turbolinks="false"><a href="/categories"><%= t :mod_cat%></a></li>
              <li data-turbolinks="false"><a href="/categories/new"><%= t :afegir_cat%></a></li>
              <li data-turbolinks="false"><a href="/products/new"><%= t :afegir_productes%></a></li>
            <%else%>
              <li data-turbolinks="false"><a href="/products"><%= t :Productes%></a></li>
              <%if client_signed_in? %>
                <li data-turbolinks="false"><%= link_to t("veure_perfil"), '/clients'%></li>
                <li data-turbolinks="false"><%= link_to t("mod_perfil"),edit_client_path(@client)%></li>
                <li data-turbolinks="false"><%= link_to t("veure_hist"), '/products/'%></li>
              <%else%>
                <li data-turbolinks="false"><a href="/clients/new"><%= t :Registre%></a></li>
              <%end%>
            <%end %>
          </ul>
        </nav>
      </div>

      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <!-- <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li> -->
            <li data-turbolinks="false"><a href="/showcart"><i class="fa fa-shopping-bag"></i> <span><%= @numproducts %></span></a></li>
          </ul>
          <div class="header__cart__price">precio: <span><%= @totalprice %> EUR</span></div>
        </div>
      </div>

    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->