<!DOCTYPE html>
<html>
  <head>
    <title>VegetablesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- JS file -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="path/to/jquery.easy-autocomplete.min.js"></script>

    <!-- CSS file -->
    <link rel="stylesheet" href="path/to/easy-autocomplete.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
