<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/assets/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2><%= t :cart %></h2>
          <div class="breadcrumb__option" data-turbolinks="false">
            <a href="/"><%= t :Home %> </a>
            <span><%= t :cart %> Compra</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
            <tr>
              <th class="shoping__product"><%= t :Productes %></th>
              <th><%= t :preu %></th>
              <th><%= t :quantitat %></th>
              <th><%= t :total %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>


            <% @productscart.uniq.each do |product| %>
              <tr>
                <td class="shoping__cart__item">
                  <img src="<%= product.image %>" alt="">
                  <h5><%= product.name %></h5>
                </td>
                <td class="shoping__cart__price">
                  <%= product.price.to_f %> EUR
                </td>
                <td class="shoping__cart__quantity">
                  <div class="quantity">
                    <div class="pro-qty">
                      <input type="text" value="<%= session[:products].count( product.id ) %>">
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total">
                  <%= (product.price.to_f * session[:products].count( product.id ).to_i).round(2) %> EUR
                </td>
                <td class="shoping__cart__item__close">
                  <span class="icon_close"></span>
                </td>
              </tr>
            <% end %>

            <!-- Miramos si no hay productos para mostrar el mensaje correspondiente -->
            <% if ! @hayproducts %>
              <tr>
                <td colspan="3" class="shoping__cart__item">
                  <%= t :no_prod %>
                </td>
              </tr>
            <% end %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns" data-turbolinks="false">
          <a href="/products" class="primary-btn cart-btn"><%= t :cont_comp %></a>
          <a href="/showcart" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
            <%= t :act_comp %></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5><%= t :disc %></h5>
            <form action="#">
              <input type="text" placeholder="Enter your coupon code">
              <button type="submit" class="site-btn"><%= t :app_disc %></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5><%= t :cart %> Total</h5>
          <ul>
            <!-- <li>Subtotal <span>$454.98</span></li> -->
            <li>Total <span><%= @totalprice %> EUR</span></li>
          </ul>
          <!-- <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a> -->
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->

<% if @hayproducts %>
  <script src="https://www.paypal.com/sdk/js?client-id=AfhQAyn2RmF3PXoCnNMMpenYijDrFIcAzXtSZB2hSD55El8LfREtvr6hcM8Asqg0ACmhbtV5gttQqyR8&currency=EUR"></script>
  <script>
      paypal.Buttons({
          createOrder: function () {
              return fetch('/createorder', {
                  method: 'post',
                  headers: {'content-type': 'application/json'}
              }).then(function (res) {
                  return res.json();
              }).then(function (data) {
                  console.log(data.orderID);
                  return data.orderID;
              });
          }, onApprove: function (data) {
              return fetch('/onapprove', {
                  method: 'post',
                  headers: {'content-type': 'application/json'},
                  body: JSON.stringify({orderID: data.orderID})
              }).then(function (res) {
                  return res.json();
              }).then(function (details) {
                  console.log(`Operation ${details.orderID}. Status: ${details.status}. Customer: ${details.surname}`);
                  alert(`Operation ${details.orderID}. Status: ${details.status}. Customer: ${details.surname}`);
              })
          }
      }).render('#paypal-button-container');
  </script>
<% end %>