<div class="product"style="margin-left:20px; margin-top:20px;">
  <%= form_for(@product, method: "put") do |f| %>
    <div class="field">
      <p> <%= f.label :name %></p>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <p><%= f.label :image %></p>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <br><%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :stock %>
      <br><%= f.text_field :stock %>
    </div>
    <div class="field">
      <%= f.label :description%>
      <br><%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label 'categories' %>
      <br />
      <%= f.collection_select :category_ids, @categories, :id, :name, {:prompt => true}, {:multiple => true} %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>