<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <h4><%= t :Perfil_client %></h4>
      <%= form_for(@client) do |f| %>
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :nom %>
                <%= f.text_field :name%>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :cognom%>
                <%= f.text_field :surname%>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :direccio %></p>
                <%= f.text_field :address %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :ciutat %>
                <br><%= f.text_field :city %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :zip %>
                <br><%= f.text_field :zip %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :edat%>
                <br><%= f.text_field :age %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :genere%>
                <br><%= f.text_field :gender %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :email%>
                <br><%= f.text_field :email %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label t :pass%>
                <br><%= f.password_field :password %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="field">
                <%= f.label t :pref%>
                <br>
                Cat: <%= radio_button_tag 'exp', "cat" %>Es: <%= radio_button_tag 'exp', "es" %>
              </div>
            </div>
            <div class="btn btn-lg">
              <%= f.submit t("actualizar") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Checkout Section End -->