<div class="main client-show">
  <div class="client">
    <div class="info">
      <p> Nom: <%= @client.name %></p>
      <p> Cognom: <%= @client.surname %></p>
      <p> Adreça: <%= @client.address %></p>
      <p> Ciutat: <%= @client.city %></p>
      <p> Zip: <%= @client.zip %></p>
      <p> Edat: <%= @client.age %></p>
      <p> Genere: <%= @client.gender %></p>
    </div>
  </div>
</div>