<div class="main client-show" data-turbolinks="false">
  <div class="client">
    <div class="info">
      <p> Nombre: <%@client.name %></p>
      <p> Apellido: <%@client.surname %></p>
      <p> Direccion: <%= @client.address %></p>
      <p> Ciudad: <%= @client.city %></p>
      <p> Zip: <%= @client.zip %></p>
      <p> Edad: <%= @client.age %></p>
      <p> Genero: <%= @client.gender %></p>
      <p> Preferencia Lengüistica: <%= @client.preference %></p>
    </div>
  </div>
</div>