<div class="main client-show" data-turbolinks="false">
  <div class="client">
    <div class="info">
      <p> <%= t :nom %><%@client.name %></p>
      <p> <%= t :cognom %> <%@client.surname %></p>
      <p> <%= t :direccio %> <%= @client.address %></p>
      <p> <%= t :ciutat %> <%= @client.city %></p>
      <p> <%= t :zip %> <%= @client.zip %></p>
      <p> <%= t :edat %> <%= @client.age %></p>
      <p> <%= t :genere %> <%= @client.gender %></p>
      <p> <%= t :pref %> <%=request.env["HTTP_ACCEPT_LANGUAGE"]%></p>
    </div>
  </div>
</div>