<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container ">
    <% @Commands.each do |command| %>
      <div class="col-lg-4 col-md-6 d-inline-block mb-5">
        <div class="checkout__order">
          <h4><%= t :comand %></h4>

          <div class="checkout__order__products"><%=t :Productes %> <span>Total</span></div>
          <ul>
            <% command.command_products.each do |com_prod| %>
              <li> <%= com_prod.product.name %> (x<%= com_prod.quantity %>) <span><%= (com_prod.product.price.to_f * com_prod.quantity).round(2) %> EUR</span></li>
            <% end %>
          </ul>
          <div class="checkout__order__total">Total <span><%= command.amount %> EUR</span></div>

          <div>
            <ul>
              <li><%= t :fecha %> <span><%= command.created_at %></span></li>
            </ul>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</section>
<!-- Checkout Section End -->